.header {
  width: 100%;
  border-bottom: 1px solid var(--navbar-border-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 60px;
  position: relative;
  z-index: 10;
}

.left,
.right {
  display: none;
}

.socialIcons {
  display: flex;
  gap: 16px;
}

.instagramIcon {
  fill: url(#instagram-gradient);
}

.instagramMobileIcon {
  fill: url(#instagram-mobile-gradient);
}

.facebookIcon {
  fill: #1877f2 !important;
}

.center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
}

.logo img {
  max-height: 120px;
  min-height: 40px;
  height: 80px;
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.85));
}

/* .socialIcons a,
.whatsappButton a {
  font-size: 20px;
} */

.whatsappButton {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #25d366;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 8px;
  transition: background 0.3s ease;
  font-size: 16px;
}

.whatsappButton:hover {
  background-color: #1ebe5d;
}

.whatsappIcon {
  font-size: 24px;
}

.menuToggle {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;
  transition: color 0.75s ease;
  position: absolute;
  right: 16px;
}

.menuToggle:hover {
  color: #666;
}

.mobileMenu {
  background: #f9f9f9;
  display: grid;
  gap: 12px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  z-index: 5;
}

.mobileMenu.open {
  padding: 16px;
  padding-top: 5vh;
}

.mobileSocialIcons,
.mobileWhatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileSocialIcons {
  gap: 30px;
  font-size: 25px;
}

@media (min-width: 768px) {
  .left {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .navbar {
    height: 80px;
  }

  .center {
    bottom: -60px;
  }

  .logo img {
    height: 120px;
    filter: drop-shadow(1.5px 1.5px 0px rgba(0, 0, 0, 0.75));
  }

  .socialIcons a {
    font-size: 24px;
    display: inline-block;
  }

  .whatsappButton a {
    font-size: 24px;
  }

  .menuToggle {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
}
