/* #Tabs */

.tabs {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2rem;
  justify-content: center;
  padding: 0.5rem 0;
}

.tabButton {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  transition: color 0.3s;
  display: grid;
  place-items: center;
}

.tabButton .icon img {
  width: 50px;
  height: auto;
}

.tabButton::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.tabButton.active::after {
  width: 100%;
}

/* #Products */

.productContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* @tablets (portrait) */
@media (min-width: 600px) and (orientation: portrait) {
  /* #Products */
  .productContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* @mobiles-@tablets (landscape) */
@media (min-width: 600px) and (orientation: landscape) {
  /* #Tabs */
  .tabs {
    grid-gap: 5rem;
  }
}

@media (min-width: 900px) {
  /* #Products */
  .productContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  /* #Products */
  .productContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}
