/* #Tabs */

.tabs {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  justify-content: start;
  align-items: center;
  padding: 0.5rem 1rem;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-gutter: stable;
}

.tabsDivider {
  width: 1px;
  height: 7vh;
  background-color: white;
  opacity: 0.75;
}

.tabButton {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 5px;
  justify-items: center;
  align-items: center;
  background: none;
  border: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
  padding: 0.5rem;
}

.tabButton .icon {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabButton .icon img {
  width: 70px;
  height: auto;
  margin-bottom: 0.5rem;
}

.tabButton span {
  text-align: center;
  letter-spacing: 1.5px;
}

.tabButton::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.tabButton.active::after {
  width: 100%;
}

/* #Products */

.productContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* @tablets (portrait) */
@media (min-width: 600px) and (orientation: portrait) {
  /* #Tabs */
  .tabs {
    padding-top: 2vh;
    grid-gap: 2rem;
    justify-content: center;
  }

  .tabButton {
    font-size: 1.2rem;
  }

  .tabButton .icon img {
    width: 90px;
  }

  .tabButton span {
    letter-spacing: 1.5px;
  }
}

/* @mobiles-@tablets (landscape) */
@media (min-width: 600px) and (orientation: landscape) {
  /* #Tabs */
  .tabs {
    padding-top: 3vh;
    grid-gap: 2rem;
    justify-content: center;
  }
}

/* @laptoṕs */
@media (min-width: 900px) {
  /* #Tabs */
  .tabs {
    padding-top: 3vh;
    grid-gap: 2rem;
    justify-content: center;
  }

  .tabButton {
    font-size: 1.2rem;
  }

  .tabButton .icon img {
    width: 70px;
  }
}

@media (min-width: 1200px) {
}
