.carouselContainer {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0 auto;
  padding: 0;
}

/* @tablets (portrait) */
@media (min-width: 600px) and (orientation: portrait) {
  .carouselContainer {
    aspect-ratio: 16/10;
  }
}

/* @mobiles-@tablets (landscape) */
@media (min-width: 600px) and (orientation: landscape) {
  .carouselContainer {
    aspect-ratio: 16/7;
    max-height: 320px;
  }
}

/* @laptoṕs */
@media (min-width: 900px) {
  .carouselContainer {
    aspect-ratio: 16/7;
    max-height: none;
  }
}

/* @monitors */
@media (min-width: 1200px) {
  .carouselContainer {
    aspect-ratio: 16/5;
  }
}
