.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}
